

# Entorno virtual (ajusta el nombre si tu carpeta se llama distinto)
venv/
.venv/

# Cachés y archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno / secretos
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs y cobertura
*.log
.coverage
htmlcov/

